<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.lenovo.anyshare.gps">
    <supports-screens android:largeScreens="true" android:xlargeScreens="true"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name="com.lenovo.anyshare.AnyShareApp" android:supportsRtl="true">
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:launchMode="singleTop" android:name="com.lenovo.anyshare.ApMainActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.lenovo.anyshare.action.CLONE_LAUNCHER_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.lenovo.anyshare.action.MAIN"/>
                <action android:name="com.lenovo.anyshare.action.HOTLIST_FM_PUSH"/>
                <action android:name="com.lenovo.anyshare.action.CONNECTPC_FM_CLEANIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.main.personal.message.MessageActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/external_share_name" android:name="com.lenovo.anyshare.ExternalShareActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.lenovo.anyshare.share.ShareActivity" android:theme="@android:style/Theme.Light.NoTitleBar" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.lenovo.anyshare.action.START_SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.share.summary.TransSummaryActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation" android:exported="true" android:launchMode="singleTop" android:name="com.lenovo.anyshare.sogouapi.SogouEntryActivity" android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="com.sogou.inputmethod.platform"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.history.session.HistorySessionActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.history.HistoryActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.history.file.FileBrowserActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.content.photoviewer.PhotoViewerActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.account.AccountSettingsActivity" android:theme="@android:style/Theme.Light.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.activity.AccountDialogActivity" android:theme="@android:style/Theme.Light.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.activity.ProductSettingsActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.activity.UserSettingsActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.help.HelpMainActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.help.HelpListActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.activity.InviteActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.activity.InviteActivityFree" android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.activity.StorageSetActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.pc.PCEntryActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Light.NoTitleBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.pc.PCScanActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.pc.PCConnectActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.pc.PCContentActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.pc.PCContentsPickActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.pc.ppt.PPTControlActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.pc.playto.PlayToActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.pc.playto.PlayToEntryActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.pc.remoteview.RemoteViewActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.pc.remoteview.SlideViewActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.pc.remoteview.RemoteDownloadActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.broswer.BrowserActivity" android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="com.lenovo.anyshare.action.BROWSER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.broswer.WebClientActivity" android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="com.lenovo.anyshare.action.WEB_CLIENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.broswer.WebMarketActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="com.lenovo.anyshare.action.WEB_MARKET"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.content.webshare.WebShareWelcomActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.content.webshare.WebShareStartActivity" android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.main.home.apps.CloneEntryActivity" android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="com.lenovo.anyshare.action.CLONE_FM_BACKUP"/>
                <action android:name="com.lenovo.anyshare.action.CLONE_FM_RESTORE"/>
                <action android:name="com.lenovo.anyshare.action.IMPORT_FM_CONTACT"/>
                <action android:name="com.lenovo.anyshare.action.EXPORT_FM_CONTACT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.main.home.apps.CleanItEntryActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.main.home.apps.LockitEntryActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <service android:name="com.lenovo.anyshare.cloud.command.CommandService">
            <intent-filter>
                <action android:name="com.ushareit.cmd.action.COMMAND_ALARM"/>
                <action android:name="com.ushareit.cmd.action.COMMAND_SYSTEM_EVENT"/>
                <action android:name="com.ushareit.cmd.action.COMMAND_WRAPPER_EVENT"/>
                <action android:name="com.ushareit.cmd.action.COMMAND_OPERATE_APP"/>
            </intent-filter>
        </service>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.lenovo.anyshare.cloud.command.CommandMsgBox" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="com.ushareit.cmd.action.COMMAND_SHOW_MSGBOX"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <meta-data android:name="UMENG_APPKEY" android:value="4ff14c365270157f36000025"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="GOOGLEPLAY"/>
        <meta-data android:name="BEYLA_APPTOKEN" android:value="SHAREIT_A"/>
        <meta-data android:name="BEYLA_CHANNEL" android:value="GOOGLEPLAY"/>
        <meta-data android:name="CLOUD_APPID" android:value="com.lenovo.anyshare.gps"/>
        <receiver android:name="com.lenovo.analytics.AnalyticsReceiver"/>
        <service android:name="com.lenovo.anyshare.app.DefaultService"/>
        <receiver android:name="com.lenovo.anyshare.app.DefaultReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:name="com.lenovo.anyshare.service.ShareService">
            <intent-filter>
                <action android:name="com.lenovo.anyshare.ShareService"/>
            </intent-filter>
        </service>
        <meta-data android:name="Lenovo_Build_Info" android:value="default"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.activity.AboutActivityForGP" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.activity.LanguageActivity" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:label="@string/app_name" android:name="com.facebook.FacebookActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.lenovo.anyshare.activity.AboutActivityForCN" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:exported="true" android:name=".wxapi.WXEntryActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboard|orientation" android:name="com.mobvista.msdk.shell.MVActivity" android:screenOrientation="portrait" android:theme="@style/MobvistaTheme"/>
        <receiver android:exported="false" android:name="com.lenovo.anyshare.settings.UpdateSetttingsReceiver">
            <intent-filter>
                <action android:name="com.lenovo.anyshare.action.UPDATE_SETTING"/>
                <action android:name="com.lenovo.anyshare.action.QUERY_SETTING"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
